<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>

    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>الصفحة التي طلبتها غير موجودة</p>
        </LayoutView>
    </NotFound>
</Router>